
.imgdarkcontact{
	background: url("../../../assets/images/bgcontactd.jpeg") no-repeat scroll center center;
	padding: 91px 0 166px 0;
	-webkit-background-size: cover;
	background-size: cover;
}
.imglightcontact{
	background: url("../../../assets/images/bgcontactl.jpeg") no-repeat scroll center center;
	padding: 91px 0 166px 0;
	-webkit-background-size: cover;
	background-size: cover;
}
.contact-us p{
	text-align: center;
}

.form-area {
	overflow: hidden;
}
.top-large-arrow {
	border-bottom: 22px solid #5584cc;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	height: 0;
	width: 0;
	display: block;
	margin: 0 auto;
}
.top-small-arrow {
	border-bottom: 13px solid #5584cc;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	height: 0;
	width: 0;
	display: block;
	margin: 0 auto;
}

.reach-top-icon {
	text-align: center;
	padding: 48px 0;
}

.submit-btn {
	text-align: center;
	padding: 22px 0;
}
.submit-btn .btn {
	padding: 10px 35px;
	font-size: 13px;
}

.form-area-wrap {
	padding: 70px 0 61px 0;
	margin-top: -80px;
}
.contact-text {
	font-size: 14px;
	font-family: 'noto_serifregular';
	letter-spacing: 1px;
}
.contact-icon {
	display: block;
	height: 83px;
	width: 83px;
	margin: 0 auto 20px;
	border-radius: 83px;
}
.contact-icon i {
	line-height: 83px;
	font-size: 24px;
}
.contact-info {
	text-align: center;
}
.necessary-info {
	padding: 0 0 0 47px;
}
.necessary-info input[type="text"], #email, #email1 {
	display: block;
	height: 46px;
	margin-bottom: 32px;
	width: 100%;
	font-family: 'noto_serifitalic';
	font-size: 14px;
	background: transparent;
	-webkit-appearance: none;
	border-radius: 0;
}
.message-send textarea {
	width: 92%;
	height: 204px;
	font-family: 'noto_serifitalic';
	font-size: 14px;
	padding: 15px;
	resize: none;
	-webkit-appearance: none;
	border-radius: 0;
}