<section [ngClass]="{'imgdarkcontact': appComponent.darkmode, 'imglightcontact': !appComponent.darkmode}" class="contact-us" id="contact-us">
    <div class=container>
        <div class="heading">
            <h2>{{'default.contact.contactTitle' | translate}}</h2>
            <p>{{'default.contact.contactDescr' | translate}}</p>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="contact-info">
                <a href="#" class="contact-icon"><i class="icon-call-out"></i> </a>
                <a href="tel:3118651586" class="contact-text">{{'default.contact.phone' | translate}}</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="contact-info">
                <span  class="contact-icon"><i class="icon-location-pin"></i> </span>
                <span class="contact-text">{{'default.contact.city' | translate}}</span>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <div class="contact-info">
                <a href="#" class="contact-icon"><i class="icon-envelope-letter"></i> </a>
                <a href="mailto:admintwon@gmail.com" class="contact-text">{{'default.contact.email' | translate}}</a>
            </div>
        </div>
    </div>
</section>
<section class="get-in-touch" id="get-in-touch">
    <div class=container>
        <div class="form-area-wrap" id="sendmaildiv">
            <div class="heading">
                <h2>{{'default.contact.contactTitleMail' | translate}}</h2>
            </div>
            <div class="form-area">
                <form id="contact" class="contact-form" [formGroup]="formulario" (ngSubmit)="saveForm()">
                    <div class="col-xs-12 col-sm-6">
                        <div class="necessary-info">
                            <input class="form-control" type="text"  placeholder="{{'default.contact.contactName' | translate}} *" formControlName="name" [(ngModel)]="email.name" [class.is-invalid]="nameInvalid">
                            <input class="form-control" type="text" placeholder="{{'default.contact.contactEmail' | translate}} *" formControlName="email" [(ngModel)]="email.email" [class.is-invalid]="emailInvalid">
                            <input class="form-control" type="text"  placeholder="{{'default.contact.contactSubject' | translate}} *" formControlName="subject" [(ngModel)]="email.subject" [class.is-invalid]="subjectInvalid">
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <div class="message-send">
                            <textarea placeholder="{{'default.contact.contactMessage' | translate}} *" class="form-control" formControlName="description" [(ngModel)]="email.content" [class.is-invalid]="descrInvalid"></textarea>
                        </div>
                    </div>
                    <div class="col-xs-12">
                        <div class="submit-btn">
                            <button type="submit" class="btn btn-primary" >{{'default.contact.contactSend' | translate}}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="reach-top-icon">
            <a href="#" class="top-large-arrow">&nbsp;</a>
            <a href="#" class="top-small-arrow">&nbsp;</a>
        </div>
    </div>
</section>