<section class="home_one-banner" id="home-sec">  
    <div class="rev_slider_wrapper">
        <div id="slider1" class="rev_slider"  data-version="5.0">
            <ul>
                <li data-transition="fade">
                    <!-- MAIN IMAGE -->
                    <img src="assets/images/home1.jpeg"  alt="" >
                    <div class="banner-text">
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption NotGeneric-Title  tp-resizeme slider-sub-heading"
                        id="slide-396-layer-4"
                        data-x="center" data-hoffset=""
                        data-y="center" data-voffset="90"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
                        data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                        data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                        data-start="4000"
                        data-splitin="chars"
                        data-splitout="none"
                        data-responsive_offset="on"
                        data-elementdelay="0.05" style= "font-family: 'montserratregular';	font-size: 30px;	font-weight: 400;	color: #ffffff; text-transform: uppercase; letter-spacing: 4px">
                            <span>{{ 'default.slider.slider1' | translate }}</span>
                        </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption NotGeneric-Title   tp-resizeme slider-heading"
                        id="slide-401-layer-2"
                        data-x="center" data-hoffset=""
                        data-y="center" data-voffset="-70"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_idle="o:1;tO:0% 50%;"
                        data-transform_in="x:-50px;rY:-90deg;opacity:0;s:2000;e:Back.easeOut;"
                        data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                        data-start="2000"
                        data-splitin="lines"
                        data-splitout="none"
                        data-responsive_offset="on"
                        data-elementdelay="0.05"
                        style="z-index: 8; white-space: nowrap; font-size: 120px; line-height: 30px; font-family: 'montserratbold'; ">
                            <h1>{{ 'default.companyShort' | translate }}</h1>
                        </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption BigBold-Button rev-btn "
                        id="slide-396-layer-5"
                        data-x="center" data-hoffset=""
                        data-y="bottom" data-voffset="40"
                        data-width="['auto']"
                        data-height="['auto']"
                        data-transform_idle="o:1;"
                        data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                        data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(41, 46, 49, 0);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                        data-transform_out="s:1000;s:1000;"
                        data-start="5000"
                        data-splitin="none"
                        data-splitout="none"
                        data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                        data-responsive_offset="on"
                        data-responsive="off"
                        style="font-size: 80px; color: #fff; ">
                            <a href="#" class="zmdi zmdi-play-circle-outline zmdi-hc-fw"></a>
                        </div>
                    </div>
                </li>
                <li data-transition="fade">
                    <!-- MAIN IMAGE -->
                    <img src="assets/images/home3.jpeg"  alt="" >
                    <div class="banner-text">
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption NotGeneric-Title   tp-resizeme slider-sub-heading"
                        id="slide-396-layer-6"
                        data-x="center" data-hoffset=""
                        data-y="center" data-voffset="90"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
                        data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                        data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                        data-start="4000"
                        data-splitin="chars"
                        data-splitout="none"
                        data-responsive_offset="on"
                        data-elementdelay="0.05" style= "font-family: 'montserratregular';	font-size: 30px;	font-weight: 400;	color: #ffffff; text-transform: uppercase; letter-spacing: 2px">
                            <span>{{ 'default.slider.slider2' | translate }}</span>
                        </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption NotGeneric-Title   tp-resizeme  slider-heading"
                        id="slide-401-layer-7"
                        data-x="center" data-hoffset=""
                        data-y="center" data-voffset="-70"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_idle="o:1;tO:0% 50%;"
                        data-transform_in="x:-50px;rY:-90deg;opacity:0;s:2000;e:Back.easeOut;"
                        data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                        data-start="2000"
                        data-splitin="lines"
                        data-splitout="none"
                        data-responsive_offset="on"
                        data-elementdelay="0.05"
                        style="z-index: 8; white-space: nowrap; font-size: 120px; line-height: 30px; font-family: 'montserratbold'; ">
                            <h1>{{ 'default.companyLong' | translate }}</h1>
                        </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption BigBold-Button rev-btn "
                        id="slide-396-layer-8"
                        data-x="center" data-hoffset=""
                        data-y="bottom" data-voffset="40"
                        data-width="['auto']"
                        data-height="['auto']"
                        data-transform_idle="o:1;"
                        data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                        data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(41, 46, 49, 0);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                        data-transform_out="s:1000;s:1000;"
                        data-start="5000"
                        data-splitin="none"
                        data-splitout="none"
                        data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                        data-responsive_offset="on"
                        data-responsive="off"
                        style="font-size: 80px; color: #fff; ">
                            <a href="#" class="zmdi zmdi-play-circle-outline zmdi-hc-fw"></a>
                        </div>
                    </div>
                </li>
                <li data-transition="fade">
                    <!-- MAIN IMAGE -->
                    <img src="assets/images/home2.jpeg"  alt="" >
                    <div class="banner-text">
                        <!-- LAYER NR. 1 -->
                        <div class="tp-caption NotGeneric-Title   tp-resizeme slider-sub-heading"
                        id="slide-396-layer-9"
                        data-x="center" data-hoffset=""
                        data-y="center" data-voffset="90"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_idle="o:1;"
                        data-transform_in="y:[-100%];z:0;rZ:35deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power4.easeInOut;"
                        data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                        data-mask_in="x:0px;y:0px;s:inherit;e:inherit;"
                        data-start="4000"
                        data-splitin="chars"
                        data-splitout="none"
                        data-responsive_offset="on"
                        data-elementdelay="0.05" style= "font-family: 'montserratregular';	font-size: 30px;	font-weight: 400;	color: #ffffff; text-transform: uppercase; letter-spacing: 2px; text-align:center">
                            <span>{{ 'default.slider.slider3' | translate }}</span>
                        </div>
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption NotGeneric-Title   tp-resizeme  slider-heading"
                        id="slide-401-layer-10"
                        data-x="center" data-hoffset=""
                        data-y="center" data-voffset="-70"
                        data-width="['auto','auto','auto','auto']"
                        data-height="['auto','auto','auto','auto']"
                        data-transform_idle="o:1;tO:0% 50%;"
                        data-transform_in="x:-50px;rY:-90deg;opacity:0;s:2000;e:Back.easeOut;"
                        data-transform_out="s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;"
                        data-start="2000"
                        data-splitin="lines"
                        data-splitout="none"
                        data-responsive_offset="on"
                        data-elementdelay="0.05"
                        style="z-index: 8; white-space: nowrap; font-size: 120px; line-height: 30px; font-family: 'montserratbold'; ">
                            <h1>{{ 'default.companyShort' | translate }}</h1>
                        </div>
                        <!-- LAYER NR. 3 -->
                        <div class="tp-caption BigBold-Button rev-btn "
                        id="slide-396-layer-11"
                        data-x="center" data-hoffset=""
                        data-y="bottom" data-voffset="40"
                        data-width="['auto']"
                        data-height="['auto']"
                        data-transform_idle="o:1;"
                        data-transform_hover="o:1;rX:0;rY:0;rZ:0;z:0;s:300;e:Power1.easeInOut;"
                        data-style_hover="c:rgba(255, 255, 255, 1.00);bg:rgba(41, 46, 49, 0);bc:rgba(255, 255, 255, 1.00);cursor:pointer;"
                        data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power4.easeInOut;"
                        data-transform_out="s:1000;s:1000;"
                        data-start="5000"
                        data-splitin="none"
                        data-splitout="none"
                        data-actions='[{"event":"click","action":"jumptoslide","slide":"next","delay":""}]'
                        data-responsive_offset="on"
                        data-responsive="off"
                        style="font-size: 80px; color: #fff; ">
                            <a href="#" class="zmdi zmdi-play-circle-outline zmdi-hc-fw"></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <a href="#" class="scroll-down"> </a>
    </div>
</section>