.banner-text .tp-caption, .banner-text .tp-mask-wrap{
	position: static !important;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding: 0 !important;
	line-height: 1.5 !important;
}
.home_one-banner {
	position: relative;
}

.banner-text {
	position: absolute;
	top: 363px;
	width: 1009px;
	margin: 0 auto;
	right: 0;
	left: 0;
	text-align: center !important;
}
.tparrows {
	background: transparent;
	border: 1px solid #a7a7a7;
}
.tparrows:before {
	color: #a8a8a8;
}
.tparrows:hover {
	background: #5584cc;
	border: 1px solid #5584cc;
}
.tparrows:hover:before, .tparrows:before {
	color: #fff;
}

.home_one-banner .BigBold-Button {
	display: none;
}