/*
 Table Of Contents
 1.) Media Query for Handheld Devices
 2.) Media Query for Tablet
 3.) Media Query for mobile
 ===============================================*/
/*
 1.) Media Query for Handheld Devices
 ===============================*/
@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.tp-leftarrow, .tp-rightarrow {
		top: auto !important;
		left: auto !important;
		right: 180px !important;
		bottom: 38px !important;
	}
	.tp-rightarrow {
		right: 42px !important;
	}
	.main-btn {
		margin-top: 54px;
	}
	.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
	.author h4 {
		line-height: 1.2;
	}
	.contact-text {
		line-height: 1.3;
	}
	
	.darkmode .banner-text{
		width: auto;
	}
	.darkmode .our-services .our-service-cont {
		padding: 82px 0 0 10%;
	}
	.darkmode .author {
		padding: 17px 10px 19px 0;
	}
	.darkmode .tp-rightarrow, .darkmode .tp-leftarrow {
		left: 100% !important;
		bottom: auto !important;
		right: auto !important;
		top: 65% !important;
	}
	.darkmode #slider1 .slider-heading .tp-splitted {
		font-size: 95px !important;
	}
	.social-media-wrap a {
		height: 40px;
		width: 40px;
	}
	.social-media-wrap a i {
		line-height: 38px;
	}
	.border {
		height: 92%;
	}
	.darkmode .banner-text {
		top: 220px;
	}
	.darkmode .author h4 {
		font-size: 12px;
	}
	

}
@media only screen and (max-width: 1229px) {
	
	.para-wrap {
		width: 100%;
	}

}
@media only screen and (min-width: 992px) and (max-width: 1229px) {
	#header.header-one .navbar-nav > li {
		margin-left: 20px;
	}
}


/*
 2.) Media Query for Tablet
 ===============================*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
	#header.header-one .navbar-nav {
		margin-top: -10px;
	}
	
	.main-btn {
		margin-top: 25px;
	}
	#header.header-one .nav li a {
		font-size: 12px;
	}
	#header.header-one .navbar-nav > li {
		margin-left: 5px;
	}
	.our-services h3 small {
		font-size: 16px;
		display: inline-block;
	}
	.inner-header-wraper h3 strong {
		top: 16px;
	}
	#header.header-one {
		padding: 15px 0;
	}
	.sub-menu {
		width: 155px;
	}
	h3 {
		font-size: 16px;
	}
	.service-info-wrap span {
		height: 69px;
		width: 69px;
		padding: 6px 0;
	}
	.banner-text {
		top: 130px;
	}
	.tp-leftarrow, .tp-rightarrow {
		top: auto !important;
		left: auto !important;
		right: 183px !important;
		bottom: 38px !important;
	}
	.tp-rightarrow {
		right: 38px !important;
	}
	.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}
	.author h4 {
		font-size: 11px;
	}
	.author {
		padding: 10px 10px 10px 22px;
	}
	.contact-text {
		line-height: 1.5;
	}
	/*=================================================================1).Homepage-one-style==========================================================*/
	
	.space {
		padding: 0 0 0 61px;
	}
	.who-we-are p {
		padding: 0;
	}
	.service-info-wrap .inner-header-wraper {
		margin-left: 14px;
	}
	.darkmode .banner-text{
		width: auto;
	}
	.darkmode .our-services .our-service-cont {
		padding: 82px 0 0 12%;
	}
	.darkmode .tp-rightarrow, .darkmode .tp-leftarrow {
		left: 100% !important;
		bottom: auto !important;
		right: auto !important;
		top: 58% !important;
	}
	.darkmode #slider1 .slider-sub-heading .tp-splitted {
		font-size: 25px !important;
	}
	.darkmode #slider1 .slider-heading .tp-splitted {
		font-size: 75px !important;
	}
	.social-media-wrap a {
		height: 40px;
		width: 40px;
	}
	.social-media-wrap a i {
		line-height: 38px;
	}
	.border {
		height: 92%;
	}
	.img-wrapper h4, .img-wrapper small {
		font-size: 11px;
	}

	.no-padding {
		padding-right: 15px;
	}
}
/*
 3.) Media Query for mobile
 ===============================*/
@media only screen and (max-width: 767px) {

	.navbar-collapse.in {
		overflow-y: inherit;
	}
	.sub-menu {
		width: 90%;
		margin: 0 auto 10px;
		left: 0;
		top: 40px;
		opacity: 1;
		z-index: 1;
		transition: 0s all ease;
		display: none;
		position: static;
	}
	.service-info-wrap .inner-header-wraper {
		float: none;
		width: 100%;
	}
	.main-btn{
		margin-top: 20px;
	}
	.contact-info {
		margin-bottom: 30px;
	}
	.necessary-info, .space, .who-we-are h2, .contact-us p {
		padding: 0;
	}
	.banner-text {
		top: 80px;
	}
	.navbar-toggle {
		margin-top: 2px;
	}
	.navbar-toggle, #header.header-one .navbar-nav > li {
		background: #000000;
		margin-left: 0;
		margin-right: 0;
	}
	#header .navbar-nav > li {
		border-bottom: 1px solid rgba(255,255,255,0.1);
		text-align: left;
	}
	#header .navbar-nav > li:last-child {
		border-bottom: none;
	}
	#header .navbar-nav > li a{
		padding: 10px 10px 10px 20px;
	}
	.navbar-toggle .icon-bar {
		background: #ffffff;
	}
	#header.header-one .navbar-nav {
		float: none;
		width: 100%;
		margin: 0;
		padding-top: 0;
		padding-right: 10px;
		padding-left: 10px;
	}
	#header .navbar-collapse, .darkmode .navbar-nav {
		margin-left: 0;
		text-align: center;
		background: #000;
		position: absolute;
		top: 61px;
		left: 0;
		z-index: 9999;
		width: 100%;
		padding: 0;
	}
	#header.header-one .navbar-nav > li:hover .sub-menu {
		opacity: 1;
		position: static;
		transition: 0s all ease;
		width: 100%;
	}
	.darkmode #header .navbar-nav {
		top: 46px;	
	}
	#header.header-one .nav li a{
		color: #ffffff;
		letter-spacing: 2px;
		padding-left:16px;
	}
	#header.header-one .nav li .sub-menu li a{
		color: #202020;
	}
	#header.header-one {
		padding: 15px 0;
	}
	.nav-mob {
		left: auto;
		position: absolute;
		right: 0;
		top: 21px;
	}
	.row.padding {
		padding-bottom: 0;
	}
	.our-services {
		padding-bottom: 0px;
		padding-top: 25px;
		margin: 0px 0 25px;
	}
	.our-services h2 {
		margin-bottom: 0;
		padding-bottom: 25px;
	}
	.nav.nav-tabs {
		width: 100%;
		padding-bottom: 25px;
	}
	.nav-tabs > li {
		float: none;
	}
	.heading, .darkmode .lg-one {
		margin-bottom: 20px;
	}
	h2 {
		padding-bottom: 30px;
	}
	.contact-us {
		padding: 50px 0;
	}
	.form-area-wrap {
		padding-top: 25px;
		padding-bottom: 25px;
		margin-top: -50px;
	}
	.submit-btn {
		padding-bottom: 0;
	}
	.footer-one {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.social-media-wrap {
		margin-bottom: 30px;
	}
	.tp-leftarrow, .tp-rightarrow {
		top: auto !important;
		left: auto !important;
		right: 97px !important;
		bottom: 20px !important;
	}
	.tp-rightarrow {
		right: -41px !important;
	}
	/*=================================================================1).Homepage-one-style==========================================================*/
	.service-info-wrap .inner-header-wraper {
		margin: 0;
	}
	.who-we-are {
		padding: 25px 10px;
	}
	.who-we-are h2, h2, .who-we-are .heading h2 > span{
		font-size: 20px;
	}
	.who-we-are h2 {
		margin-bottom: 25px;
	}
	.who-we-are .heading h2 > span {
		padding-left: 0;
	}
	#who-we-are-slider .owl-pagination {
		width: auto;
	}
	.service-info-wrap span {
		float: none;
		margin: 0 auto 20px;
	}
	.our-service-cont .service-info-wrap li {
		text-align: center;
		margin-bottom: 0;
	}
	.darkmode .our-services .our-service-cont {
		float: none;
		width: 100%;
		padding: 30px 0 0 10px;
	}
	.darkmode .our-service-blank {
		position: static;
		width: 100%;
		min-height: 200px;
	}
	.darkmode .inner-header-wraper h3 strong{
		left: 0;
		right: 0;
	}
	.service-info-wrap {
		margin: 0;
		padding: 25px 0 0;
	}
	.darkmode .banner-text{
		width: auto;
	}
	.darkmode .tp-caption .tp-splitted  h1 {
		font-size: 10px !important;
	}
	.darkmode .tp-rightarrow, .darkmode .tp-leftarrow {
		left: auto !important;
		bottom: 76px !important;
		right: -72px !important;
		top: auto !important;
	}
	.darkmode #slider1 .slider-sub-heading .tp-splitted {
		font-size: 14px !important;
	}
	.darkmode #slider1 .slider-heading .tp-splitted {
		font-size: 33px !important;
		padding: 0 !important;
	}
	.banner-text {
		top: 150px;
	}
	.darkmode .navbar-toggle {
		z-index: 9;
		margin-top: -10px;
	}
	.darkmode .social-media-wrap {
		margin-top: 7px;
	}
	.darkmode .navbar {
		left: 0%;
		top: 45px;
		z-index: 9999 !important;
		width: auto;
		margin: 0 15px;
		right: 0;
	}
	.header-three .social-media-wrap {
		margin-right: 60px;
	}
	.darkmode #slide-396-layer-5 .zmdi-play-circle-outline {
		font-size: 40px !important;
	}
	.one-page-scroll {
		left: 0;
		position: absolute;
		top: 0px;
		transform: none;
		width: 100%;
		z-index: 999;
	}
	.one-page-scroll li i.zmdi-dot-circle-alt, .one-page-scroll li i.zmdi-circle-o, .one-page-scroll li a span:before {
		display: none;
	}
	.one-page-scroll li a i {
		left: 0;
	}
	.nav .one-page-scroll li a span, .pages li a {
		background-color: transparent !important;
		font-size: 14px;
		font-family: "montserratregular";
		opacity: 1;
		margin-bottom: 0;
		padding: 14px 0 14px 28px;
		text-align: left;
		display: block;
		letter-spacing: 2px;
	}
	.nav .one-page-scroll	.pages li a {
		text-transform: uppercase;
		letter-spacing: 1px;
		color: #202020;
	}
	.anchorlink > a {
		display: block;
	}
	.darkmode .navbar-nav .one-page-scroll {
		background: #000;
	}
	.one-page-scroll li {
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	}
	.one-page-scroll li:last-child {
		border: none;
	}
	.darkmode .one-page-scroll li a i, .one-page-scroll li:hover i.zmdi-dot-circle-alt, .one-page-scroll li.active i.zmdi-dot-circle-alt {
		display: none;
	}
	.one-page-scroll, .darkmode .navbar-nav, .darkmode .navbar-collapse {
		position: static;
		margin: 0;
	}
	.header-three {
		padding: 25px 0 0;
	}

	.author h4 {
		font-size: 13px;
	}

	/*=================================================================3).Blog-Standard-Styling==========================================================*/
	
	.no-padding {
		padding-left: 15px;
		padding-right: 15px;
	}
	
	/*=================================================================3).Blog-Detail-Styling==========================================================*/
	
	#header .navbar-nav{
		max-height:265px;
		overflow: scroll;
	}

}
@media only screen and (min-width: 480px) and  (max-width: 767px){
	#header .navbar-nav{
		max-height:180px;
		
	}
}
