/*!
 * Theme v1.0.0 
 * Copyright 2015-2016 theemon.com
 */
@skinColor:#5DA9E9; //Change here your theme Color
@fontFamily:'montserratregular'; //Change here your theme Font family

.transition_effect{
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
h1,h2,h3{
  font-family:@fontFamily !important;
}

//===============================================
//====================TEXT COLOR==================
.contact-info:hover .contact-icon, .contact-info:hover .contact-text, .social-media-wrap a:hover, .header .nav li a:hover, .who-we-are-wrap .contact-info:hover strong, #lates-work .nav.nav-tabs li.active > a , .darkmode .our-services h3 small, .our-services h3 small, .service-info-wrap span, .gallery  #lates-work .nav.nav-tabs li:hover a, #lates-work .nav.nav-tabs li a:hover, sign-btn:hover,.one-page-scroll li:hover i.zmdi-dot-circle-alt, .one-page-scroll li.active i.zmdi-dot-circle-alt,.blog-details strong a:hover{
  color:@skinColor !important; .transition_effect;
}

//============================================================
//==========================BACKGROUND COLOR==================
.btn:hover, .who-we-are-wrap .contact-info:hover i, .progress .progress-bar.main-btn,.tparrows:hover{
  background-color:@skinColor !important; .transition_effect;
}


//============================================================
//==========================BORDER COLOR==================

.btn:hover, .contact-info:hover .contact-icon, .social-media-wrap a:hover{
  border: 1px solid @skinColor !important; .transition_effect;
}
.who-we-are-wrap .contact-info:hover .contact-icon, .who-we-are-wrap .contact-info:hover i, .gallery  #lates-work .nav.nav-tabs li:hover a, .gallery  #lates-work .nav.nav-tabs li.active a,.tparrows:hover{
  border-color: @skinColor !important; .transition_effect;
}
.main-btn:after{
   border-color:lighten(@skinColor,7%); .transition_effect;
}
.one-page-scroll li a span:before,.darkmode #lates-work .btn.border-white:hover, .darkmode .submit-btn .btn.border-white:hover {
  border-color: transparent #5584cc transparent transparent !important; .transition_effect;
}
.top-large-arrow{
  border-bottom-color:@skinColor !important; .transition_effect; ;
}

//============================================================
//==========================SVG COLOR==================
