
/*=================================================================GENERAL==========================================================*/
	.darkmode .who-we-are h2:before, .darkmode .our-services h2:before, .darkmode .contact-us h2:before, .darkmode  .amazin-team h2:before, .darkmode .our-pricing h2:before, .darkmode .get-in-touch h2:before, .darkmode .contact-us h2:before {
		background: url(../images/line-3.png) no-repeat scroll center center;
	}
	.lightmode .who-we-are h2:before,.lightmode #sendmaildiv h2:before, .lightmode .our-services h2:before, .lightmode .contact-us h2:before, .lightmode .amazin-team h2:before, .lightmode .our-pricing h2:before, .liglightmodeht .get-in-touch h2:before, .lightmode .contact-us h2:before {
		background: url(../images/line-2.png) no-repeat scroll center center;
	}
	.darkmode .who-we-are h2, .darkmode .who-we-are p, .darkmode .who-we-are-wrap .contact-info strong, .darkmode .who-we-are-wrap .contact-icon i, .darkmode .amazin-team h2, .darkmode .img-wrapper h4, .darkmode .img-wrapper small, .darkmode .happy strong, .darkmode .happy span, .darkmode .happy .fb-likes:after, .darkmode .our-services h2, .darkmode .our-service-cont p, .darkmode .our-service-cont-izq p, .darkmode .our-pricing h2, .darkmode .heading p, .darkmode .get-in-touch h2, .darkmode .submit-btn .btn {
		color: #fff;
	}
	.darkmode .who-we-are:after, .darkmode .who-we-are:before, .darkmode #sendmaildiv .form-area:after, .darkmode #sendmaildiv .form-area:before{
		background: rgba(0,0,0,0.2);
	}

	.darkmode  h2 {
		color: #ffffff;
	}
	.darkmode .copy-right {
		font-size: 14px;
		color: #868686;
		font-family: 'noto_serifregular';
		text-align: center;
		line-height: 20px;
	}
	.lightmode .copy-right {
		font-size: 14px;
		color: #fff;
		font-family: 'noto_serifregular';
		text-align: center;
		line-height: 20px;
	}

	.heading {
		margin-bottom: 36px;
	}
	.heading p {
		font-family: 'noto_serifitalic';
		letter-spacing: 0.5px;
	}

	.darkmode footer{
		padding: 58px 0 57px;
		background: #5584cc;
	}

	.darkmode .header-three .social-media-wrap li a{
		background-color: black;
	}
	.lightmode footer{
		padding: 58px 0 57px;
		background: #5DA9E9;
	}

	.lightmode .zmdi-dot-circle-alt:before{
		color: black;
	}
/*=================================================================Lenguaje==========================================================*/
	.darkmode .social-media-wrap a:hover {
		color:#fff !important;
		border:1px solid #ffffff !important;
	}

/*=================================================================Slider==========================================================*/
	.darkmode .rev_slider_wrapper {
		background: rgba(243,243,243,0.9);
	}
	.darkmode .tparrows:hover {
		background: #fff !important;
		border: 1px solid #fff !important;
		transition:0.4s all ease;
	}
	.darkmode .tparrows:hover:before {
		color: #202020;
	}
	.darkmode .tparrows {
		border: 1px solid #ffffff;
	}
	.darkmode .tp-splitted {
		display: inline-block !important;
		color: #5584cc;
	}
	.banner-text .main-btn:after {
		display: none;
	}
	.banner-text .tp-parallax-wrap, .banner-text .tp-loop-wrap, .banner-text .tp-loop-wrap, .tp-mask-wrap {
		position: static !important;
	}


/*=================================================================Sobre nosotros==========================================================*/
	.darkmode .who-we-are-wrap {
		background: #3f3f3f;
	}
	.lightmode .who-we-are-wrap {
		background: #5DA9E9;
	}
	.darkmode .who-we-are {
		background: #252525;
	}
	.lightmode .who-we-are {
		background: white;
	}
	.darkmode .who-we-are-wrap .contact-icon {
		border: 1px solid #c7c7c7;
	}
	.lightmode .who-we-are-wrap .contact-icon{
		border: 1px solid #3f3f3f;
	}
	.darkmode .who-we-are-wrap .contact-icon i {
		border: 1px solid #c7c7c7;
	}
	.lightmode .who-we-are-wrap .contact-icon i {
		border: 1px solid #3f3f3f;
	}
	.darkmode .who-we-are-wrap .contact-icon i:before {
		color: #fff;
	}
	.lightmode .who-we-are-wrap .contact-icon i:before {
		color: #000;
	}
	.darkmode #who-we-are-slider .owl-pagination .owl-page.active{
		border-color: #5584cc !important;
	}
	.lightmode #who-we-are-slider .owl-pagination .owl-page.active{
		border-color: #5584cc !important;
	}
	.darkmode #who-we-are-slider .owl-pagination .owl-page.active:after {
		background: #5584cc;
	}
	.lightmode #who-we-are-slider .owl-pagination .owl-page.active:after {
		background: #5584cc;
	}
	.darkmode  #who-we-are-slider .owl-pagination .owl-page {
		background: transparent;
		border-color: #484848;
	}
	.darkmode .who-we-are-wrap .contact-info strong {
		color: #fff;
	}

	
	#who-we-are-slider .owl-pagination{
		left: 0;
		margin: 0 auto;
		right: 0;
		top: auto;
		text-align: center;
		margin: 0 auto;
		width: 93px;
		bottom: -7px;
	}
	#who-we-are-slider .owl-pagination .owl-page {
		background: transparent;
		border: medium none;
		display: block;
		float: left;
		height: 16px;
		width: 17px;
		border-radius: 20px;
		border: 2px solid #868282;
		margin: 0 7px;
		position: relative;
	}
	#who-we-are-slider .owl-pagination .owl-page.active:after{
		border-radius: 100%;
		content: "";
		height: 4px;
		position: absolute;
		top: 4px;
		width: 4px;
		left: 5px;
	}

/*=================================================================Nuestro equipo==========================================================*/
	.darkmode .profile-info{
		background: #5584cc;
	}
	.lightmode .profile-info{
		background: #5584cc;
	}
	.darkmode  .amazin-team{
		background: #1a1a1a;
	}
	.lightmode .amazin-team{
		background: #5DA9E9;
	}
	.darkmode .img-wrapper {
		background: #5584cc;
	}
	

/*=================================================================Servicios==========================================================*/
	.darkmode .our-services {
		background: #252525;
	}
	.lightmode .our-services {
		background: white;
	}
	.darkmode .our-services .our-service-cont {
		background: #252525;
	}
	.lightmode .our-services .our-service-cont {
		background: white;
	}
	.darkmode .inner-header-wraper h3 strong {
		color: #343434;
	}
	.lightmode .inner-header-wraper h3 strong {
		color: #bebebe;
	}
	.darkmode .inner-header-wraper span {
		background: transparent;
		border: 1px solid #d5d5d5;
		color: hsl(0, 0%, 100%);
	}
	.lightmode .inner-header-wraper span {
		background: transparent;
		border: 1px solid #252525;
		color: hsl(0, 0%, 100%);
	}
	
/*=================================================================Contacto - Email==========================================================*/
	.darkmode .get-in-touch {
		background: #1a1a1a;
	}
	.lightmode .get-in-touch {
		background: #003F91;
	}
	.darkmode .necessary-info input[type="text"], .darkmode .message-send textarea {
		background: transparent;
	}
	.lightmode .necessary-info input[type="text"], .lightmode .message-send textarea {
		background: transparent;
	}
	.darkmode .necessary-info input[type="text"], .darkmode .message-send textarea{
		color: #fff;
	}
	.darkmode .necessary-info input[type="text"]::-webkit-input-placeholder, .darkmode textarea::-webkit-input-placeholder{
		color: #878787;
	}
	.darkmode .necessary-info input[type="text"]:-moz-placeholder, .darkmode textarea:-moz-placeholder{
		color: #878787;
	}
	.darkmode .necessary-info input[type="text"]::-moz-placeholder, .darkmode textarea::-moz-placeholder{
		color: #878787;
	}
	.darkmode .necessary-info input[type="text"]:-webkit-input-placeholder, .darkmode textarea:-ms-input-placeholder{
		color: #878787;
	} 
	.lightmode .necessary-info input[type="text"]::-webkit-input-placeholder, .lightmode .message-send textarea::-webkit-input-placeholder{
		color: #505050;
	}
	.lightmode .necessary-info input[type="text"]:-moz-placeholder, .lightmode .message-send textarea:-moz-placeholder{
		color: #505050;
	}
	.lightmode .necessary-info input[type="text"]::-moz-placeholder, .lightmode .message-send textarea::-moz-placeholder{
		color: #505050;
	}
	.lightmode .necessary-info input[type="text"]:-webkit-input-placeholder, .lightmode .message-send textarea:-ms-input-placeholder{
		color: #505050;
	} 
	.darkmode .get-in-touch .form-area-wrap {
		background: #252525;
	}
	.lightmode .get-in-touch .form-area-wrap {
		background: white;
	}
	.darkmode .necessary-info input[type="text"], .darkmode textarea {
		border: 1px solid #e5e5e5;
		color: #878787;
	}
	.lightmode .necessary-info input[type="text"], .lightmode textarea {
		border: 1px solid #e5e5e5;
		color: #252525;
	}
	.darkmode .contact-text {
		color: #c7c7c7;
	}
	.lightmode .contact-text {
		color: #252525;
		font-weight: bold;
	}
	.darkmode .contact-icon {
		border: 3px solid #c7c7c7;
		color: #c7c7c7;
	}
	.lightmode .contact-icon {
		border: 3px solid #252525;
		color: #252525;
	}
	.lightmode .contact-icon i::before {
		font-weight: bold;
	}
	.lightmode .submit-btn button{
		border: none;
	}

/*=================================================================Loading==========================================================*/
	#loading{
		background-color: #5584cc;
		height: 100%;
		width: 100%;
		position: fixed;
		z-index: 9999999;
		margin-top: 0px;
		top: 0px;
	}

	html{
		overflow-x: hidden;
	}

	#loading-center{
		width: 100%;
		height: 100%;
		position: relative;
	}

	#loading-center-absolute {
		position: absolute;
		left: 50%;
		top: 50%;
		height: 200px;
		width: 200px;
		margin-top: -100px;
		margin-left: -100px;	

	}

	.object{
		-moz-border-radius: 50% 50% 50% 50%;
		-webkit-border-radius: 50% 50% 50% 50%;
		border-radius: 50% 50% 50% 50%;
		position: absolute;
		border-left: 5px solid #FFF;
		border-right: 5px solid #FFF;
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		-webkit-animation: animate 2s infinite;
		animation: animate 2s infinite;	
	}

	#object_one{
		left: 75px;
		top: 75px;
		width: 50px;
		height: 50px;
	}

	#object_two{
		left: 65px;
		top: 65px;
		width: 70px;
		height: 70px;
		-webkit-animation-delay: 0.1s;
		animation-delay: 0.1s;
	}

	#object_three{
		left: 55px;
		top: 55px;
		width: 90px;
		height: 90px;
		-webkit-animation-delay: 0.2s;
		animation-delay: 0.2s;
	}

	#object_four{
		left: 45px;
		top: 45px;
		width: 110px;
		height: 110px;
		-webkit-animation-delay: 0.3s;
		animation-delay: 0.3s;
	}

/*=================================================================Keyframes==========================================================*/
	@-webkit-keyframes animate {
		50% {
			-ms-transform: rotate(180deg); 
			-webkit-transform: rotate(180deg); 
			transform: rotate(180deg); 
		}
		100% {
			-ms-transform: rotate(0deg); 
			-webkit-transform: rotate(0deg); 
			transform: rotate(0deg); 
		}	  
	}

	@keyframes animate {
		50% {
			-ms-transform: rotate(180deg); 
			-webkit-transform: rotate(180deg); 
			transform: rotate(180deg); 
		}

		100% {
			-ms-transform: rotate(0deg); 
			-webkit-transform: rotate(0deg); 
			transform: rotate(0deg); 
		}	  
	}
