<div id="loading" #loading>
    <div id="loading-center">
        <div id="loading-center-absolute">
            <div class="object" id="object_four"></div>
            <div class="object" id="object_three"></div>
            <div class="object" id="object_two"></div>
            <div class="object" id="object_one"></div>
        </div>
    </div>
</div>
<!--Page Wrapper Start-->
<div id="wrapper" [ngClass]="{'darkmode': darkmode, 'lightmode': !darkmode}">
    <!--Header Section Start-->
    <app-lang></app-lang>
    <!--Header Section End-->
    <!-- START REVOLUTION SLIDER 5.0 -->
    <app-slider></app-slider>
    <!-- END OF SLIDER WRAPPER -->
    <!--Content Area Start-->
    <div id="content">
        <!--Sobre nosotros apertura-->
        <app-us></app-us>
        <!--Sobre nosotros cierra-->
        <!--servicios apertura-->
        <app-services></app-services>
        <!--nuestro equipo apertura-->
        <app-team></app-team>
        <!--nuestro equipo cierra-->
        <!--contactans apertura-->
        <app-contact></app-contact>
        <!--contactans cierra-->
    </div>
    <!--Content Area End-->
    <!--Footer Section Start-->
    <footer id="footer" class="footer-one">
        <div class="container">
            <div class="social-media-wrap">
                <a href="https://www.facebook.com/DreamLoading-101156444926859" target="_blank"><i class="fa fa-facebook"></i> </a>
                <a href="https://twitter.com/DreamloadingO" target="_blank"><i class="fa fa-twitter"></i> </a>
                <a href="https://www.instagram.com/dreamloading_oficial/" target="_blank"><i class="fa fa-instagram"></i> </a>
                <!-- <a href="https://www.youtube.com/channel/UCL8PP5GXXa4mU-u_-SE5cMw" target="_blank"><i class="fa fa-youtube"></i> </a> -->
            </div>
            <div class="copy-right">
                Propiedad ©2020 Diseñado por DreamLoading. Todos los derechos reservados.
            </div>
        </div>
    </footer>
    <!--Footer Section End-->
</div>
