.img-wrapper {
	bottom: -100%;
	left: 0;
	position: absolute;
	transition: all 0.5s ease 0s;
	width: 100%;
}

.img-wrapper small {
	font-size: 16px !important;
	font-family: 'noto_serifregular';
	font-style: italic;
	text-transform: capitalize;
}
.profile-info{
	padding: 20px 10px 24px;
	text-align: center;
	width: 100%;
}
.amazin-team {
	padding-top: 90px;
	padding-bottom: 130px;
}
.img-wrapper h4 {
	letter-spacing: 2px;
}

.lg-one {
	position: relative;
	overflow: hidden;
} 
.lg-one figure img {
	display: block;
	width: 100%;
}
.lg-one:hover .img-wrapper {
	bottom: 50%;
}

.border {
	/* border: 3px solid rgba(255,255,255,0.2); */
	height: 94%;
	left: 0;
	margin: 20px;
	position: absolute;
	right: 0;
	top: 0;
}