<section class="amazin-team" id="our-team">
    <div class=container>
        <div class="row">
            <h2>{{'default.team.teamTitle' | translate}}</h2>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <div class="lg-one">
                    <figure>
                        <div class="border"></div>
                        <img *ngIf="!appComponent.darkmode" src="assets/images/team/jonnattanDark.jpeg" alt="#">
                        <img *ngIf="appComponent.darkmode" src="assets/images/team/jonnattanLight.jpeg" alt="#"> 
                    </figure>
                    <div class="img-wrapper">
                        <div class="profile-info">
                            <h4>Jonnattan Choque</h4>
                            <small>{{'default.team.teamDev' | translate}}</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="lg-one">
                    <figure>
                        <div class="border"></div>
                        <img src="assets/images/team/andres.png" alt="#">
                    </figure>
                    <div class="img-wrapper">
                        <div class="profile-info">
                            <h4>Andrés Velasquez</h4>
                            <small>{{'default.team.teamAndr' | translate}}</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="lg-one">
                    <figure>
                        <div class="border"></div>
                        <img *ngIf="!appComponent.darkmode" src="assets/images/team/stephen.png" alt="#">
                        <img *ngIf="appComponent.darkmode" src="assets/images/team/stephenLight.jpeg" alt="#"> 
                    </figure>
                    <div class="img-wrapper">
                        <div class="profile-info">
                            <h4>Sthepen Ibañez</h4>
                            <small>{{'default.team.teamAnimator' | translate}}</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3">
                <div class="lg-one">
                    <figure>
                        <img src="assets/images/team/williamLight.jpeg" alt="#">
                        <div class="border"></div>
                    </figure>
                    <div class="img-wrapper">
                        <div class="profile-info">
                            <h4>William Daza</h4>
                            <small>{{'default.team.teamIOS' | translate}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>