<section class="our-services clearfix" id="our-service">   
    <div class="heading text-center ">
        <h2><strong>{{'default.services.serviceTitle' | translate}}</strong></h2>
        <p>{{'default.services.serviceDescript' | translate}}</p>
    </div>
    <div class="our-service-cont">
        <ul class="service-info-wrap inner-header-wraper">
            <li class="clearfix zoom">
                <span class="fa fa-mobile" style="font-size:3.5em"> </span>
                <div class="inner-header-wraper">
                    <i class="icon-unique"> </i>
                    <h3><strong>APPS</strong><small>{{'default.services.serviceApps' | translate}}</small></h3>
                    <p>{{'default.services.serviceAppsDesc' | translate}}</p>
                </div>
            </li>
            <li class="clearfix zoom">
                <span class="fa fa-television" style="font-size:2.5em"> </span>
                <div class="inner-header-wraper">
                    <i class="icon-unique"> </i>
                    <h3><strong>DS</strong><small>{{'default.services.serviceSoft' | translate}}</small></h3>
                    <p>{{'default.services.serviceSoftDesc' | translate}}</p>
                </div>
            </li>
            <li class="clearfix zoom">
                <span class="fa fa-cloud"> </span>
                <div class="inner-header-wraper">
                    <i class="icon-unique"> </i>
                    <h3><strong>H</strong><small>Hosting</small></h3>
                    <p>{{'default.services.serviceHosting' | translate}}</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="our-service-cont our-service-cont-izq">
        <ul class="service-info-wrap inner-header-wraper">
            <li class="clearfix zoom">
                <span class="glyphicon glyphicon-globe"> </span>
                <div class="inner-header-wraper">
                    <i class="icon-unique"> </i>
                    <h3><strong>PW</strong><small>{{'default.services.serviceWeb' | translate}}</small></h3>
                    <p>{{'default.services.serviceWebDesc' | translate}}</p>
                </div>
            </li>
            <li class="clearfix zoom">
                <span class="glyphicon glyphicon-shopping-cart"> </span>
                <div class="inner-header-wraper">
                    <i class="icon-unique"> </i>
                    <h3><strong>E</strong><small>E-commerce</small></h3>
                    <p>{{'default.services.serviceEcommDesc' | translate}}</p>
                </div>
            </li>
            <li class="clearfix zoom">
                <span class="fa fa-spinner" style="font-size:3.5em"> </span>
                <div class="inner-header-wraper">
                    <i class="icon-unique"> </i>
                    <h3><strong>A3D</strong><small>{{'default.services.serviceAnimation' | translate}}</small></h3>
                    <p>{{'default.services.serviceAnimationDesc' | translate}}</p>
                </div>
            </li>
        </ul>
    </div>
</section>