.our-services{
	padding: 0px;
	margin: 0;
	padding: 94px 0 100px 0;
}
.service-info-wrap  .inner-header-wraper {
	float: left;
	width: 70%;
	margin-left: 20px;
	padding-top: 0;
}
.our-service-cont p {
	font-style: italic;
}
.our-services h3 {
	padding-left: 0;
	position: relative;
    z-index: 1;
    padding-bottom: 15px;
}
.our-services h3 small{
	padding-left: 0;
}
.inner-header-wraper h3 strong {
	position: absolute;
    font-size: 40px;
    z-index: -1;
	font-family: 'montserratregular';
	left: 7px;
	top: -5px;
}
.our-services h2 {
	text-align: center;
}
.our-service-cont .service-info-wrap li p, .our-service-cont-izq .service-info-wrap li p{
	font-style: normal;
}
.our-service-cont .service-info-wrap li, .our-service-cont-izq .service-info-wrap li{
	margin-bottom: 32px;
}

.service-info-wrap span {
	font-size: 25px;
	height: 89px;
	width: 89px;
	text-align: center;
	line-height: 55px;
	float: left;
	position: static;
	padding: 15px 16px;
	background: transparent;
	display: block;
	border-radius: 100%;
	left: 0;
	top: 12px;
}

.service-info-wrap {
	padding: 50px 0 33px 0;
}

.our-services h2 > strong{
	padding-left: 10px;
}

.our-services .our-service-cont {
	float: left;
	width: 50%;
	padding: 0px 0 0 15%;
}
.our-services .our-service-cont-izq{
	padding: 0px 0 0 10% !important;
}
.zoom:hover span{
	transform:scale(1.2);
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition:all 0.5s ease-in-out;
	-ms-transition:all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}