.who-we-are-wrap{
    padding: 0px 0 92px;
	margin-top: -62px;
}

.who-we-are {
	position: relative;
	padding: 75px 50px 75px;
	z-index: 250;
}


.who-we-are-wrap .contact-icon {
	border-radius: 50%;
	display: block;
	height: 101px;
	margin: 0 auto 40px;
	width: 101px;
	text-align: center;
	position: relative;
	padding-top:-3px;
}
.who-we-are-wrap .contact-info strong {
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 21px;
	display: block;
	text-align: center;
}
.who-we-are-wrap .contact-icon i {
	background-image: none;
	border-radius: 50%;
	font-size: 25px;
	height: 91px;
	line-height: 85px;
	margin-left: 0;
	width: 91px;
	background: transparent;
	display: block;
	position: absolute;
    margin: 0 auto;
    left: 0px;
    right: 0;
    transform: translateY(-50%);
    top: 49%;
}


.who-we-are h2, .who-we-are  p {
	text-align: center;
	padding: 0 33px;
	margin-bottom: 76px;
}
.who-we-are h2 {
	padding-bottom: 50px;
	margin-bottom: 41px;

}
