<section class="who-we-are-wrap" id="about-us">
    <div class=container>
        <div class="who-we-are">
            <div class="heading">
                <h2>{{ 'default.us.us' | translate}}</h2>
                <p>{{ 'default.us.usDescription' | translate}}</p>
            </div>
            <div id="who-we-are-slider">
                <div class="item">
                    <div class="contact-info">
                        <a href="#" class="contact-icon"><i class="fa fa-hourglass-end"></i> </a>
                        <strong>{{ 'default.us.usTitle1' | translate}}</strong>
                        <p>{{ 'default.us.usContent1' | translate}}</p>
                    </div>
                </div>
                <div class="item">
                    <div class="contact-info">
                        <a href="#" class="contact-icon"><i class="fa fa-comments-o"></i> </a>
                        <strong>{{ 'default.us.usTitle2' | translate}}</strong>
                        <p>{{ 'default.us.usContent2' | translate}}</p>
                    </div>
                </div>
                <div class="item">
                    <div class="contact-info">
                        <a href="#" class="contact-icon"><i class="fa fa-cubes"></i> </a>
                        <strong>{{ 'default.us.usTitle3' | translate}}</strong>
                        <p>{{ 'default.us.usContent3' | translate}}</p>
                    </div>
                </div>
                <div class="item">
                    <div class="contact-info">
                        <a href="#" class="contact-icon"><i class="fa fa-cogs"></i> </a>
                        <strong>{{ 'default.us.usTitle4' | translate}}</strong>
                        <p>{{ 'default.us.usContent4' | translate}}</p>
                    </div>
                </div>
                <div class="item">
                    <div class="contact-info">
                        <a href="#" class="contact-icon"><i class="fa fa-users"></i> </a>
                        <strong>{{ 'default.us.usTitle5' | translate}}</strong>
                        <p>{{ 'default.us.usContent5' | translate}}</p>
                    </div>
                </div>
                <div class="item">
                    <div class="contact-info">
                        <a href="#" class="contact-icon"><i class="fa fa-line-chart"></i> </a>
                        <strong>{{ 'default.us.usTitle6' | translate}}</strong>
                        <p>{{ 'default.us.usContent6' | translate}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>