<div class="loading_traslate" *ngIf="loading">
    <div class="blob-2">
        <img *ngIf="activeLang != 'es'" src="assets/images/co.jpg"/>
        <img *ngIf="activeLang == 'es'" src="assets/images/us.jpg"/>
    </div>
    <div class="blob-1">
        <img *ngIf="activeLang == 'es'" src="assets/images/co.jpg"/>
        <img *ngIf="activeLang != 'es'" src="assets/images/us.jpg"/>
    </div>
</div>
<header id="header" class="header-three">
    <div class="container clearfix">
        <div id="fullpage" [ngClass]="{'night':night}">  
            <div class="section">
                <div class="time-circle" (click)="changeMode()">
                    <img src="assets/images/logo.png" alt="">
                </div>
            </div>
        </div>
        <ul class="languagepicker roundborders large"> 
            <a [ngClass]="{'active': activeLang == 'es'}" (click)="cambiarLenguaje('es')"><li><img src="assets/images/co.jpg"/></li></a>
            <a [ngClass]="{'active': activeLang == 'en'}" (click)="cambiarLenguaje('en')"><li><img src="assets/images/us.jpg"/></li></a>
        </ul>
        <ul class="social-media-wrap clearfix">
            <li>
                <a href="https://www.facebook.com/DreamLoading-101156444926859" target="_blank"><i class="fa fa-facebook"></i> </a>
            </li>
            <li>
                <a href="https://twitter.com/DreamloadingO" target="_blank"> <i class="fa fa-twitter"> </i> </a>
            </li>
            <li>
                <a href="https://www.instagram.com/dreamloading_oficial/" target="_blank"><i class="fa fa-instagram"></i> </a>
            </li>
            <!-- <li>
                <a href="https://www.youtube.com/channel/UCL8PP5GXXa4mU-u_-SE5cMw" target="_blank"><i class="fa fa-youtube"></i> </a>
            </li> -->
        </ul>
    </div>
    <app-navbar></app-navbar>
</header>
