.darkmode .navbar {
	position: absolute;
}
.one-page-scroll li i.zmdi-dot-circle-alt, .one-page-scroll li:hover i.zmdi-circle-o, .one-page-scroll li.active i.zmdi-circle-o {
	display: none;
}
.one-page-scroll li:hover i.zmdi-dot-circle-alt, .one-page-scroll li.active i.zmdi-dot-circle-alt {
	display: block;
}
.one-page-scroll li a:hover span, .one-page-scroll li.active a span {
	opacity: 1;
}

.one-page-scroll {
	position: fixed;
	transform: translateY(-50%);
	left: 5%;
	z-index: 999;
	top: 50%;
}
.one-page-scroll li {
	position: relative;
}
.one-page-scroll li a span {
	font-size: 11px;
	color: #fff;
	text-transform: uppercase;
	padding: 8px;
	background: #5584cc;
	margin-bottom: 9px;
	display: inline-block;
	padding: 6px 5px;
	width: 81px;
	text-align: center;
	position: relative;
	opacity: 0;
}
.one-page-scroll li a span:before {
	border-width: 10px 10px;
	border-color: transparent #5584cc transparent transparent;
	border-style: solid;
	content: '';
	position: absolute;
	left: -17px;
	top: 3px;
}
.one-page-scroll li a i {
	font-size: 14px;
	height: 14px;
	width: 14px;
	margin-right: 15px;
	color: #bbbbbb;
	position: absolute;
	left: -27px;
	top: 6px;
}