<nav class="navbar">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="nav navbar-nav">
            <ul class="one-page-scroll">
                <li class="anchorlink active">
                    <a data-id="#home-sec"> <i class="zmdi zmdi-circle-o zmdi-hc-fw"> </i> <i class="zmdi zmdi-dot-circle-alt zmdi-hc-fw"> </i><span>{{ 'default.navbar.home' | translate }}</span></a>
                </li>
                <li  class="anchorlink">
                    <a data-id="#about-us" class=""> <i class="zmdi zmdi-circle-o zmdi-hc-fw"> </i> <i class="zmdi zmdi-dot-circle-alt zmdi-hc-fw"> </i><span>{{ 'default.navbar.about' | translate }}</span></a>
                </li>
                <li  class="anchorlink">
                    <a data-id="#our-service" class=""> <i class="zmdi zmdi-circle-o zmdi-hc-fw"> </i> <i class="zmdi zmdi-dot-circle-alt zmdi-hc-fw"> </i><span>{{ 'default.navbar.services' | translate }}</span></a>
                </li>
                <li  class="anchorlink">
                    <a data-id="#our-team" class=""> <i class="zmdi zmdi-circle-o zmdi-hc-fw"> </i> <i class="zmdi zmdi-dot-circle-alt zmdi-hc-fw"> </i><span>{{ 'default.navbar.team' | translate }}</span></a>
                </li>
                <li  class="anchorlink">
                    <a data-id="#contact-us" class=""> <i class="zmdi zmdi-circle-o zmdi-hc-fw"> </i> <i class="zmdi zmdi-dot-circle-alt zmdi-hc-fw"> </i><span>{{ 'default.navbar.contact' | translate }}</span></a>
                </li>
                <li  class="anchorlink">
                    <a data-id="#sendmaildiv" class=""> <i class="zmdi zmdi-circle-o zmdi-hc-fw"> </i> <i class="zmdi zmdi-dot-circle-alt zmdi-hc-fw"> </i><span>{{ 'default.navbar.email' | translate }}</span></a>
                </li>
            </ul>
        </div>
    </div>
</nav>